*{
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: arial;
    color: #555;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.row-block {
    display: block;
    width: 100%;
}
.row-block:before, .row-block:after {
    content: " ";
    clear: both;
    display: table;
}
header{
    background-color: red;
    width:100%;
    padding:50px;
}
header .content{
    text-align: center;
    padding-top: 50px;
}